.title {
    font-weight: bold; 
    font-size: 30px; /* テキストサイズ */
    margin: 10px auto; /* 中央配置 */
}

.menu {
}

.canvas {
    background-color:#eeeeee;
}

.outputText {
    padding : 5px 30px 5px 15px;
    background-color:#eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; /* テキストサイズ */
    margin: 10px auto; /* 中央配置 */
}